@font-face {
font-family: "Soyuz Grotesk";
src: url("../fonts/Soyuz Grotesk Bold.woff") format("woff");
font-style: normal;
font-weight: bold;
}
@font-face {
font-family: "HelveticaNeueCyr";
src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
font-style: normal;
font-weight: 500;
}